<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script
      src="https://kit.fontawesome.com/a76384134c.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <header class="header">
      <div class="header__left">
        <svg
          class="icon icon-bar"
          width="18"
          height="14"
          viewBox="0 0 18 14"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M0 1C0 0.447715 0.447715 0 1 0H17C17.5523 0 18 0.447715 18 1C18 1.55228 17.5523 2 17 2H1C0.447716 2 0 1.55228 0 1ZM0 7C0 6.44772 0.447715 6 1 6H17C17.5523 6 18 6.44772 18 7C18 7.55228 17.5523 8 17 8H1C0.447716 8 0 7.55228 0 7ZM1 12C0.447715 12 0 12.4477 0 13C0 13.5523 0.447715 14 1 14H9C9.55229 14 10 13.5523 10 13C10 12.4477 9.55228 12 9 12H1Z"
            fill="#BFC5D1"
          />
        </svg>
        <svg
          width="71"
          height="16"
          viewBox="0 0 71 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12.0898 9.69727L13.7207 0.78125H17.1191L14.1016 15H10.5469L8.64258 6.89453L6.77734 15H3.23242L0.205078 0.78125H3.61328L5.24414 9.69727L7.19727 0.78125H10.1074L12.0898 9.69727ZM17.5781 9.61914C17.5781 8.56445 17.7832 7.62695 18.1934 6.80664C18.6035 5.97982 19.1927 5.34505 19.9609 4.90234C20.7292 4.45964 21.6309 4.23828 22.666 4.23828C24.248 4.23828 25.4948 4.72982 26.4062 5.71289C27.3177 6.68945 27.7734 8.02083 27.7734 9.70703V9.82422C27.7734 11.4714 27.3145 12.7799 26.3965 13.75C25.485 14.7135 24.248 15.1953 22.6855 15.1953C21.1816 15.1953 19.974 14.7461 19.0625 13.8477C18.151 12.9427 17.6595 11.7188 17.5879 10.1758L17.5781 9.61914ZM20.8691 9.82422C20.8691 10.8008 21.0221 11.5169 21.3281 11.9727C21.6341 12.4284 22.0866 12.6562 22.6855 12.6562C23.8574 12.6562 24.4564 11.7546 24.4824 9.95117V9.61914C24.4824 7.72461 23.877 6.77734 22.666 6.77734C21.5658 6.77734 20.9701 7.5944 20.8789 9.22852L20.8691 9.82422ZM34.3359 15.1953C32.7148 15.1953 31.403 14.7135 30.4004 13.75C29.3978 12.7799 28.8965 11.5202 28.8965 9.9707V9.69727C28.8965 8.61654 29.0951 7.66276 29.4922 6.83594C29.8958 6.00911 30.4818 5.37109 31.25 4.92188C32.0182 4.46615 32.9297 4.23828 33.9844 4.23828C35.4688 4.23828 36.6406 4.70052 37.5 5.625C38.3594 6.54297 38.7891 7.82552 38.7891 9.47266V10.752H32.2461C32.3633 11.3444 32.6204 11.8099 33.0176 12.1484C33.4147 12.487 33.929 12.6562 34.5605 12.6562C35.6022 12.6562 36.416 12.2917 37.002 11.5625L38.5059 13.3398C38.0957 13.9062 37.513 14.3587 36.7578 14.6973C36.0091 15.0293 35.2018 15.1953 34.3359 15.1953ZM33.9648 6.77734C33.0013 6.77734 32.4284 7.41536 32.2461 8.69141H35.5664V8.4375C35.5794 7.91016 35.446 7.50326 35.166 7.2168C34.8861 6.92383 34.4857 6.77734 33.9648 6.77734ZM43.5938 15H40.293V0H43.5938V15Z"
            fill="#507BFC"
          />
          <path
            d="M54.7363 9.33594H49.209V15H45.7812V0.78125H55.293V3.42773H49.209V6.69922H54.7363V9.33594ZM61.4648 15.1953C59.8438 15.1953 58.5319 14.7135 57.5293 13.75C56.5267 12.7799 56.0254 11.5202 56.0254 9.9707V9.69727C56.0254 8.61654 56.224 7.66276 56.6211 6.83594C57.0247 6.00911 57.6107 5.37109 58.3789 4.92188C59.1471 4.46615 60.0586 4.23828 61.1133 4.23828C62.5977 4.23828 63.7695 4.70052 64.6289 5.625C65.4883 6.54297 65.918 7.82552 65.918 9.47266V10.752H59.375C59.4922 11.3444 59.7493 11.8099 60.1465 12.1484C60.5436 12.487 61.0579 12.6562 61.6895 12.6562C62.7311 12.6562 63.5449 12.2917 64.1309 11.5625L65.6348 13.3398C65.2246 13.9062 64.6419 14.3587 63.8867 14.6973C63.138 15.0293 62.3307 15.1953 61.4648 15.1953ZM61.0938 6.77734C60.1302 6.77734 59.5573 7.41536 59.375 8.69141H62.6953V8.4375C62.7083 7.91016 62.5749 7.50326 62.2949 7.2168C62.015 6.92383 61.6146 6.77734 61.0938 6.77734ZM70.7227 15H67.4219V0H70.7227V15Z"
            fill="#5B6378"
          />
        </svg>
      </div>
      <div class="header__search">
        <input type="text" class="header__search-input" placeholder="Search" />
      </div>
      <div class="header__right">
        <div class="header__right-avt">
          <img
            src="https://images.unsplash.com/photo-1487412720507-e7ab37603c6f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
            alt="Avt"
          />
        </div>
        <span class="header__right-name">Randall Cohen</span>
        <div class="icon icon-down">
          <svg
            width="11"
            height="7"
            viewBox="0 0 11 7"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M5.44115 6.3792C5.23701 6.3792 5.04169 6.29608 4.90022 6.14879L0.209605 1.27074C-0.0778356 0.97204 -0.0684544 0.496787 0.230432 0.209533C0.52913 -0.0777201 1.0042 -0.0685265 1.29145 0.23036L5.44115 4.54592L9.59084 0.23036C9.87791 -0.0683389 10.353 -0.0777201 10.6519 0.209533C10.9507 0.496787 10.9601 0.97204 10.6727 1.27074L5.98207 6.14879C5.8406 6.29608 5.64528 6.3792 5.44115 6.3792Z"
              fill="#BFC5D1"
            />
          </svg>
        </div>
      </div>
    </header>
    
    <div class="container">
      <div class="content">

      <a class="btn btn-special" href="/">Back</a>

      <form action="/create" method="POST" enctype="multipart/form-data" class="pb-4">
        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
          <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Email</label>
          <input type="text" name="email" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="form-group">
          <label for="exampleFormControlFile1">Avatar</label>
          <input type="file" name="avt" class="form-control-file" id="exampleFormControlFile1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
        
      </div>
    </div>

    <!-- <script src="/javascripts/scripts.js"></script> -->
  </body>
</html>
