.menu {
  &__list {
    list-style: none;
    padding: 0;
  }

  &__item {

    &--special {
      background-color: #FAFAFA;
    }
  }

  &__link {
    display: flex;
    align-items: center;

    &-text {
      margin-left: 12px;
    }
    color: $text-light-color;
    padding: 12px 12px;
    font-size: 1.4rem;
    font-weight: 300;

    &--active {
      color: $text-color;
    }

    &:hover {
      color: $text-color;
    }
  }
}
