* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Lato", sans-serif;
    font-size: 10px;
    color: #5a5a5a;
    background-color: #fff;
    text-rendering: optimizeLegibility;
}

body {
    overflow-x: hidden;
    background-color: #F5F5F5;
}

h2 {
    font-size: 4.5rem;
    text-align: center;
    padding: 32px 0;
    color: #05A8F4;
    font-style: italic;
}

.section {
    width: 100%;
    padding: 0px 0px 68px;
    border-bottom: 2px solid #A5A5A5;
}

.overplay {
    width: 100%;
    height: 100px;
}