.grid {
    width: 100%;
    display: block;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col {
    padding-left: 12px;
    padding-right: 12px;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}