.card {
  background-color: $white-color;
  padding: 24px 24px 8px;
  box-shadow: 0px 2px 6px rgba(47, 83, 151, 0.1);
  border-radius: 3px;
  margin-bottom: 32px;
  position: relative;
  top: 0;
  transition: top 0.2s;

  &:hover {
    top: -2px;
    box-shadow: 0px 3px 8px rgba(47, 83, 151, 0.2);
  }

  &__header {
    text-align: right;
  }

  &__avt {
    text-align: center;
    margin-bottom: 31px;

    & img {
      display: inline-block;
      width: 120px;
      height: 120px;
      border-radius: 50%;
    }
  }

  &__title {
    margin-bottom: 40px;

    &--main {
      display: block;
      font-size: 1.8rem;
      line-height: 2.1rem;
      text-align: center;
      color: $text-color;
      margin-bottom: 19px;
    }

    &--sub {
      display: block;
      font-size: 1.4rem;
      line-height: 1.6rem;
      text-align: center;
      color: $text-light-color;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
